<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="fragments/head.html">
	<meta charset="UTF-8"/>
	<title>Edition</title>
</head>
<body>
	<header th:insert="fragments/header.html"></header>
	<div align="center">
		<h1><b>Edition de Profil :</b></h1>
		<br/>
		<div class="container card" align="center">
			<form action="#" th:action="@{/update}" th:objet="${user}" method="post" th:each="user : ${users}">
			<input type="hidden" th:name="id" th:value="${user.id}"></input>
				<div class="form-group">
					<label>Pseudo :</label>
					<input type="text" th:name="pseudo" placeholder="Votre pseudo" autofocus class="form-control" th:value="${user.pseudo}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Prenom :</label>
					<input type="text" th:name="prenom" placeholder="Votre prenom" class="form-control" th:value="${user.prenom}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Nom :</label>
					<input type="text" th:name="nom" placeholder="Votre nom" class="form-control" th:value="${user.nom}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Adresse :</label>
					<input type="text" th:name="adresse" placeholder="Votre adresse" class="form-control" th:value="${user.adresse}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Ville :</label>
					<input type="text" th:name="ville" placeholder="Votre ville" class="form-control" th:value="${user.ville}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Anniv :</label>
					<input type="date" th:name="anniv" placeholder="Votre date d'anniversiare" class="form-control" th:value="${user.anniv}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Age :</label>
					<input type="number" th:name="age" placeholder="Votre age" class="form-control" th:value="${user.age}"/>
				</div>
				<br/>
				<div class="form-group">
					<label>Telephone :</label>
					<input type="tel" th:name="telephone" placeholder="Votre numero de telephone" class="form-control" th:value="${user.telephone}"/>
				</div>
				<br/>
				<input type="submit" value="Envoyer"  class="btn btn-outline-secondary" id="link"/>
			</form>
		</div>
	</div>
	<div th:insert="fragments/footer.html"></div>
</body>
</html>